body {
    display:grid;grid-template-columns:1fr 1fr 1fr 1fr;grid-template-rows:100px 900px;grid-gap:20px;
    background-color: black;
    font-family: Tahoma, sans-serif;
}
.planet-container {
    margin: auto;
    /*height: stretch*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: visible;
    
    font-size: 10px;
    width: 50em;
    height: 50em;
    position: relative;

    grid-area: 1 / 1 / -1 / 3;
}
.planet-container:before {
    content:"";
    background-color:black;
    position: absolute;
    height: 10000px;
    width: 4000px;
    left: -2000px;
    z-index: -1;
}
img{
    height: 130%;
    width: 130%;
}
.table-moon{
    height: 8em;
    width: 8em;
}
.sun {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 0 3em rgb(255, 128, 0);
    animation: orbit 50s linear infinite;
}
.mercury,
.venus,
.earth,
.moon,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune,
.pluto {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.mercury {
    top: 12.5em;
    left: 12.5em;
    width: 15em;
    height: 15em;
    animation: orbit 5s linear infinite;
}

.venus {
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 14s linear infinite;
}

.earth {
    top: 6em;
    left: 6em;
    width: 28em;
    height: 28em; 
    animation: orbit 20s linear infinite;   
}
.moon {
    top: 2em;
    right: -1em;
    width: 7em;
    height: 7em; 
    animation: orbit .5s linear infinite;
}
.mars {
    top: 2em;
    left: 2.5em;
    width: 36em;
    height: 36em; 
    animation: orbit 38s linear infinite;
}
.asteroids {
    position:absolute;
    top: 0em;
    left: 0em;
    width: 40em;
    height: 40em;
    animation: orbit 100s linear infinite;
}
.jupiter {
    top: -2em;
    left: -2em;
    width: 45em;
    height: 45em; 
    animation: orbit 240s linear infinite;
}
.saturn {
    top: -7em;
    left: -7em;
    width: 55em;
    height: 55em; 
    animation: orbit 500s linear infinite;
}
.uranus {
    top: -12em;
    left: -12em;
    width: 65em;
    height: 65em; 
    animation: orbit 1500s linear infinite;
}
.neptune {
    top: -17em;
    left: -17em;
    width: 75em;
    height: 75em; 
    animation: orbit 3000s linear infinite;
}
.pluto {
    top: -22em;
    left: -22em;
    width: 85em;
    height: 85em; 
    animation: orbit 4500s linear infinite;
}
.kuipers {
    position:absolute;
    top: -33em;
    left: -33em;
    width: 110em;
    height: 110em; 
    animation: orbit 600s linear infinite;
}
.mercury::before,
.venus::before,
.earth::before,
.moon::before,
.mars::before,
.jupiter::before,
.saturn::before,
.uranus::before,
.neptune::before,
.pluto::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    /*animation: orbit 30s linear infinite;*/
}
.mercury::before {
    top: 1.5em;
    right: 0.8em;
    width: 2em;
    height: 2em;
    background-image: url('./images/mercury.png');
    background-size: cover;
}
.venus::before {
    top: 2em;
    right: 2em;
    width: 2em;
    height: 2em;
    background-image: url('./images/venus.png');
    background-size: cover;
}
.earth::before {
    top: 3em;
    right: 0em;
    width: 5em;
    height: 5em;
    background-image: url('./images/earth.png');
    background-size: cover;
}

.moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-image: url('./images/moon.png');
    background-size: cover;
}
.mars::before {
    top: 5em;
    right: 3em;
    width: 3em;
    height: 3em;
    background-image: url('./images/mars.png');
    background-size: cover;
}
.jupiter::before {
    top: 6em;
    right: 3em;
    width: 5em;
    height: 5em;
    background-image: url('./images/jupiter.png');
    background-size: cover;
}
.saturn::before {
    top: 7.5em;
    right: 4em;
    width: 6em;
    height: 4.5em;
    background-image: url('./images/saturn2.png');
    background-size: cover;
}
.uranus::before {
    top: 9em;
    right: 6.5em;
    width: 4em;
    height: 4em;
    background-image: url('./images/uranus.png');
    background-size: cover;
}
.neptune::before {
    top: 10em;
    right: 8em;
    width: 4em;
    height: 4em;
    background-image: url('./images/neptune.png');
    background-size: cover;
}
.pluto::before {
    top: 11em;
    right: 10em;
    width: 4em;
    height: 4em;
    background-image: url('./images/pluto.png');
    background-size: cover;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}

.asteroid {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}



@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card-container {
    padding: 2px 16px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }
 .card-image {
    top: 3em;
    right: 0em;
    width: 12em;
    height: 12em;
  }
  .card-image-wide {
    top: 3em;
    right: 0em;
    width: 20em;
    height: 12em;
  }